<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>课程表</title>
  <link rel="stylesheet" href="./index.css">
</head>
<body>
  <div id="app">
    <div class="app-left">
      <div class="info-area">
        <label>班级：
          <input type="text" v-model="className" placeholder="请输入班级名称"/>
        </label>
      </div>
      <div class="class-area">
        <label>课程：
          <div class="class-list">
            <div class="class-item drag-item" v-for="item in classList" :key="item" draggable @dragstart="drag" :data-text="item">{{item}}</div>
          </div>
          <div class="input-item"><input type="text" v-model="classInput" placeholder="请输入课程名称"/><button @click="handleAddClass">添加</button></div>
        </label>
      </div>
    </div>
    <div class="app-right">
      <div class="table-area">
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th v-for="item in days" :key="item">{{item}}</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(row,rowIndex) in tableData">
              <td v-if="rowIndex === 0" rowspan="4" class="label">上午</td>
              <td v-else-if="rowIndex === 4" rowspan="2" class="label">下午</td>

              <td class="count">{{rowIndex + 1}}</td>
              <td v-for="(item,index) in row" class="table-class-item" >
                <div @dragover="allowDrop" @drop="drop" :data-row="rowIndex" :data-col="index">{{item}}</div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="./index.js"></script>
</body>
</html>